<% @post.each do |b| %>
<h5>
  <%= link_to b.name, b.name %>
</h5>
  <h5>
    Author: <%= b.author.author_name if b.author && !b.author.author_name.blank? %>
  </h5>
  <p>
    Category:<%= link_to  b.category.category_name, "/category/#{b.category.category_name}" if b.category && !b.category.category_name.blank? %>
  </p>
  <hr>
<% end %>