<h3>Author Name:</h3>
<p style="color:green;">
  <%= @auth.author_name.titleize %>
</p>
<h3>Related Blogs:</h3>
<% @blog.each_with_index do |blog,c| %>
    <p style="color:RED; "><%= c+1 %>. <%= link_to blog.name, "/blogs/#{blog.name}" %></p>

<% end %>